{% extends "base_fragment.html" %}
{% block content %}
  <div class="container">
    <h2>Laboratoriya ishlari</h2>
    <p>
      {% if user.is_staff or user.is_superuser %}
        <a class="btn" href="{% url 'core:lab_add' %}">Yangi laboratoriya ishlari yuklash (admin)</a>
      {% endif %}
    </p>
    <ul class="resource-list">
      {% for it in items %}
        <li>
          <a href="{% url 'core:lab_detail' it.pk %}">{{ it.title }}</a>
          <small>{{ it.created_at|date:'Y-m-d' }}</small>
        </li>
      {% empty %}
        <li>Hozircha hech qanday laboratoriya mavzusi mavjud emas.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
